* {
  border: 2px solid rgb(17, 58, 78);
}

.app-container {
  height: 100vh;
}

.app {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 200px;
}

.banner {
  height: 10vh;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-body {
  display: flex;
  flex-direction: column;
}

.header-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
}

.column-1 {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

.column-2 {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-item {
  margin: 10px;
  text-align: center;
}

.footer {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
