* {
  border: 2px solid black;
  background-color: lightgray;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95vh;
  border: 2px solid black;
}

.banner {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 48, 48);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: gray;
  width: 100%;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.about-container {
  display: flex;
  flex-direction: column;

  padding: 20px;
  flex: 1;
}

.about {
  flex-grow: 1;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
}

.delete {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 10px;
  background-color: inherit;
}

.label-collapsed-invs {
  display: flex;
  flex: 1;
  background-color: inherit;
}

.label-collapsed {
  font-size: x-large;
  background-color: inherit;
  min-width: 250px;
  text-align: center;
}

.expand {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  background-color: inherit;
}

.text-input {
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2 0;
  padding: 2px 10px;
  margin: 2px 10px;
  background-color: gray;
}

.card-collapsed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px 10px;
  margin: 2px 10px;
  background-color: gray;
}

.card-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: gray;
}

.card-records {
  flex-direction: column;
  justify-content: center;
  background-color: gray;

  overflow: auto;
  max-height: 35vh;
}

.column-item {
  text-align: center;
}

.footer {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.footer-item {
  margin: 10px;
}
